header {
    h1 {
        font-family: "Cabin Sketch", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .cabin-sketch-bold {
        font-family: "Cabin Sketch", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
}

  